body{
    background-color: rgba(223, 219, 171, 0.562);
    height: 98vh;
}
.app{
    display: flex;
    flex-flow: column;
    height: 98vh;
}
.playarea{
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 78%;
}