:root{
    --background:rgba(223, 219, 171, 0.562);
}
body{
    background-color: var(--background);
    height: 98vh;
}
.app{
    display: flex;
    flex-flow: column;
    height: 98vh;
}
.playarea{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78%;
}