:root{
    --active-text-color: burlywood;
    --active-shadow-color: rgb(29, 39, 128);
    --player-selector-margin : 100px;
}
.p1{
    margin-right:var(--player-selector-margin);
}
.p2{
    margin-left:var(--player-selector-margin);
}
.selectorChar{
    font-size: 70px;
}
.player-indicator{
    /* Disabling the text selection by user */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.active{
    display: flex;
    align-items:center;
    flex-direction: column;
    font-size: 8vh;
    transform: skewY(-6deg);
    color:var(--active-text-color);
    text-shadow: 
    1px 2px  var(--active-shadow-color),
    2px 3px  var(--active-shadow-color),
    3px 4px  var(--active-shadow-color),
    4px 5px  var(--active-shadow-color),
    5px 6px  var(--active-shadow-color),
    6px 7px  var(--active-shadow-color),
    7px 8px  var(--active-shadow-color),
    8px 9px  var(--active-shadow-color);
}
.inactive{
    color:var(--background);
}